body {
  font-family: Verdana,sans-serif;
  font-size: 1em;
  padding-left: 5%;
  padding-right: 5%;
}

header {
  padding: 10px;
  color: white;
  background-color: #787878;
}

table {
  width: 100%
}

th.colName {
  width: 60%
}

th.colSeeders {
  width: 20%
}

th.colLeechers {
  width: 20%
}

td {
  padding: 10px;
  text-align: center;
}

.odd {
  background-color: #EFEFEF;
}

.even {
  background-color: #D3D3D3;
}
